{
  "plugins": [
    "transform-inline-environment-variables",
    ["@babel/plugin-transform-arrow-functions", {}, "arrow"]
  ],
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@emotion/babel-preset-css-prop"
  ]
}