{
  "plugins": [
    "transform-inline-environment-variables"
  ],
  "presets": [
    "@emotion/babel-preset-css-prop",
    "@babel/preset-react",
    ["@babel/preset-env", {
      "useBuiltIns": "usage",
      "corejs": 3
    }]
  ]
}